WcfServiceHotel/HotelsClient/Connected Services/ServiceReference1/WcfServiceHotel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceHotel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceHotel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelData" nillable="true" type="tns:HotelData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelData" nillable="true" type="tns:ArrayOfHotelData" />
  <xs:complexType name="HotelData">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelData" nillable="true" type="tns:HotelData" />
</xs:schema>