WcfServiceHotel/ConsoleApp1/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceHotel" />
  <xs:element name="GetAllHotel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceHotel" minOccurs="0" name="GetAllHotelResult" nillable="true" type="q1:ArrayOfHotelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>